<h1>Update Shirt:</h1>

<%= form_tag "/shirts/#{@shirt.id}", method: :patch do %>
  <div>
    <label for="brand">Brand:</label>
    <input type="text" name="brand" value="<%= @shirt.brand %>">
  </div>
  <div>
    <label for="price">Price:</label>
    <input type="text" name="price" value="<%= @shirt.price %>">
  </div>
  <div>
    <label for="image">Image:</label>
    <input type="text" name="image" value="<%= @shirt.image %>">
  </div>
  <div>
    <label for="description">Description:</label>
    <input type="text" name="description" value="<%= @shirt.description %>">
  </div>
  <input type="submit" value="Submit">
<% end %>